<p-table [value]="listaLibros" [loading]="cargando">
    <ng-template pTemplate="header">
        <tr>
            <th>Codigo</th>
            <th>Titulo</th>
            <th>Autor</th>
            <th>Nro.Paginas</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-libro>
        <tr>
            <td>{{libro.idlibro}}</td>
            <td>{{libro.titulo}}</td>
            <td>{{libro.autor}}</td>
            <td>{{libro.paginas}}</td>
        </tr>
    </ng-template>
</p-table>