<div class="field">
    <label for="codigo">codigo</label>
    <p-inputNumber id="codigo" class="w-full" styleClass="w-full" [(ngModel)]="codigo"
    [ngClass]="{'ng-invalid':!codigoValido,'ng-dirty':!codigoValido}">
</p-inputNumber>
    <small *ngIf="!codigoValido"id="codigo-help" class="p-error block">Ingresar elcodigo del libro</small>
</div>
<div class="field">
    <label for="titulo">Titulo</label>
    <input id="titulo" type="text" class="w-full" [(ngModel)]="titulo"pInputText
    [ngClass]="{'ng-invalid':!tituloValido,'ng-dirty':!tituloValido}">
    <small *ngIf="!tituloValido"id="titulo-help" class="p-error block">Ingresar titulo del libro</small>
</div>

<div class="field">
    <label for="autor">Autor</label>
    <input id="autor" type="text" class="w-full" [(ngModel)]="autor" pInputText
    [ngClass]="{'ng-invalid':!autorValido,'ng-dirty':!autorValido}">
    <small *ngIf="!autorValido"id="codigo-help" class="p-error block">Ingresar autor del libro</small>
</div>
<div class="field">
    <label for="paginas">Paginas</label>
    <p-inputNumber id="paginas" type="text" styleClass="w-full" class="w-full" [(ngModel)]="paginas"  
    [ngClass]="{'ng-invalid':!paginasValido,'ng-dirty':!paginasValido}">
</p-inputNumber>
    <small *ngIf="!codigoValido" id="codigo-help" class="p-error block">Ingresar la cantidad de paginas del libro</small>
</div>
<div class="field">
    <button pButton label="Guardar" icon="pi pi-save" 
    (click)="guardar()"[loading]="guardando"></button>
    <button pButton label="Limpiar" icon="pi pi-trash" 
    class="p-button-secondary"style="margin-left: 10px"(click)="limpiarFormulario()"></button>
</div>
<p-messages [(value)]="mensajes"></p-messages>